<div class="row">
    <div class="col-5 col-sm-3">
        <p>本の名前</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  book.book_name|default_if_none:"未入力"  }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>著者</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  book.author_name|default_if_none:"未入力" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>ステータス</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  book.get_read_status_display|default_if_none:"未入力" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>読みたい理由</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  book.read_reason|default_if_none:"未入力" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>関心</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ book.is_wonder|yesno:"高い,普通" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>カテゴリ</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ book.category.category_name|default_if_none:"未入力" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>読み始め</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ book.start_date|date:"Y年m月d日" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>読み終わり</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ book.end_date|date:"Y年m月d日" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>書評</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  book.review|default_if_none:"未入力" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>作成者</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ book.created_by.get_full_name }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>作成時間</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ book.created_at|date:"Y/m/d G:i:s" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>更新者</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ book.updated_by.get_full_name }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>更新時間</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ book.updated_at|date:"Y/m/d G:i:s" }}</p>
    </div>
</div>
